.App {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


button:focus {
  outline: none
}

button:disabled {
  color: #555555
}

button {
  border: none;
  background: none;
  color: white;
  text-align: left;
  display: block;
  cursor: pointer;
}


.Content {
  height: 668px;
  width: 924px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 110px;
}

.Main {
  flex-grow: 1;
  flex-direction: column;
}

.Question {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 55px;
}

.QuestionB {
  font-size: 40px;
}

.ActionButton {
  font-size: 50px;
  text-decoration: underline;
  text-transform: uppercase;
}

.Navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.SmallActionButton {
  font-size: 25px;
  text-transform: lowercase;
}

.SmallActionUnderline {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: underline;
}

.OptionCol {
  margin-left: 40px;
}

.Option {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.OptionBlock {
  display: flex
}

.SelectedOption {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: white;
  color: black;
}

.TempArea {
  position: relative;
}

.TempBar {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.TempCircle {
  position: absolute;
  top: 10px;
}
.TempCircleOuter {
  position: absolute;
  left: -40px;
  top: -40px;
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.TempCircleInner {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  left: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
}

.TempText {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 20px;
}

.TempCurrent {
  position: relative;
  top: -60px;
  font-size: 16px;
  transform: translateX(-50%);
}


.BarLeft {
  width: 73px;
  height: 22px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}

.BarCenter {
  width: 73px;
  height: 22px;
  background-color: white;
  cursor: pointer;
}

.BarRight {
  width: 73px;
  height: 22px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.TempTextGap {
  width: 550px;
}

.Results {
  font-size: 40px;
  margin-top: -30px;
}

.ResultLine {
  margin-bottom: 40px;
}

.AirQualityLink {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}


.ExploreLink {
  font-size: 35px;
  text-decoration: underline;
  margin-top: 60px;
}

.Explore {
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.ExploreImage {
  width: 274px;
  height: 174px;
  border: solid 1px white;
}

.ExploreImage img {
  width: 100%;
  height: 100%;
}

.ExploreLinkSmall {
  font-size: 22px;
  text-decoration: underline;
  margin-top: 10px;
  text-transform: uppercase;
  padding-left: 0px;
}

.Subject {
  position: relative;
  margin-top: -30px;
}

.SubjectImage {
  position: absolute;
  left: 500px;
  top: -90px;
  width: 412px;
  height: 285px;
  border: solid 1px white;
}

.SubjectImage img {
  width: 100%;
  height: 100%;
}

.SubjectBody {
  max-width: 470px;
  font-size: 24px;
  line-height: 26px;
}

.SurveyBody {
  font-size: 24px;
  line-height: 26px;
}

.SurveyText {
  color: white;
  width: 700px;
  background-color: #222222;
  border: none;
  margin: 20px 0px;
  height: 40px;
  font-size: 16px
}

.SubjectLinks {
  position: absolute;
  display: flex;
  right: 0;
  top: 220px;
  justify-content: space-between;
  flex-direction: column;
}

.SubjectExplore {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.airQIndexRoot {
  position: relative;
}

.CitationLinksIndex {
  position: absolute;
  font-size: 16px;
  left: 0px;
  bottom: -20px;
}

.CitationLinks {
  position: absolute;
  display: flex;
  font-size: 16px;
  right: 0;
  top: 360px;
  justify-content: space-between;
  flex-direction: column;
  text-transform: initial;
}

.CitationTitle {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.CitationLinkSmall {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 10px;
  padding-left: 0px;
  display: inline-block;
}

.airQTable {
  border-collapse: collapse;
  position: relative;
  top: -30px;
}

.airQTable tr {
  height: 70px;
}

.airQTable tr:nth-child(1) {
  background-color: green;
  color: black;
}
.airQTable tr:nth-child(2) {
  background-color: yellow;
  color: black;
}

.airQTable tr:nth-child(3) {
  background-color: orange;
}

.airQTable tr:nth-child(4) {
  background-color: red;
}

.airQTable tr:nth-child(5) {
  background-color: purple;
}

.airQTable tr:nth-child(6) {
  background-color: darkred;
}

.airQTable td {
  font-size: 22px;
  min-width: 120px;
  padding: 10px
}

.airQColHead {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  width: 270px;
}

.RightAlignButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
